In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
rawdata = pd.read_csv('datasets/NEW_YORK-Offenses_Known_to_Law_Enforcement_by_City_2013_clean.csv')

colnames = ['city','population','violentcrime','murder','revisedrape','legacyrape','robbery','aggravatedassault','propertycrime','burglary','larcency','autotheft','arson']
rawdata.columns = colnames
print(rawdata.head())

                       city population violentcrime  murder  revisedrape  \
0             Adams Village      1,861            0     0.0          NaN
1  Addison Town and Village      2,577            3     0.0          NaN
2             Akron Village      2,846            3     0.0          NaN
3                    Albany     97,956          791     8.0          NaN
4            Albion Village      6,388           23     0.0          NaN

  legacyrape robbery aggravatedassault propertycrime burglary larcency  \
0          0       0                 0            12        2       10
1          0       0                 3            24        3       20
2          0       0                 3            16        1       15
3         30     227               526         4,090      705    3,243
4          3       4                16           223       53      165

  autotheft  arson
0         0    0.0
1         1    0.0
2         0    0.0
3       142    NaN
4         5    NaN

In [4]:
filleddata = rawdata.fillna(value='0')
print(filleddata.head())

                       city population violentcrime murder revisedrape  \
0             Adams Village      1,861            0      0           0
1  Addison Town and Village      2,577            3      0           0
2             Akron Village      2,846            3      0           0
3                    Albany     97,956          791      8           0
4            Albion Village      6,388           23      0           0

  legacyrape robbery aggravatedassault propertycrime burglary larcency  \
0          0       0                 0            12        2       10
1          0       0                 3            24        3       20
2          0       0                 3            16        1       15
3         30     227               526         4,090      705    3,243
4          3       4                16           223       53      165

  autotheft arson
0         0     0
1         1     0
2         0     0
3       142     0
4         5     0

In [5]:
#replace all these freaking strings with ints by removing the commas
strdata = filleddata.iloc[:, 1:]
for col in strdata.columns:
    newvals = []
    for val in strdata[col]:
        if(type(val)==str):
            val=val.replace(',','')
        newvals.append(val)
    strdata[col] = newvals

cleandata = strdata

c:\users\nekon\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [6]:
cleandata.iloc[:,0]

0        1861
1        2577
2        2846
3       97956
4        6388
5        4089
6        1781
7      118296
8        9519
9       18182
10       2053
11       4523
12        658
13       2522
14      27270
15       3333
16       7473
17       5418
18      15374
19       5733
20      17627
21      34243
22      46304
23       1410
24      12001
25       1022
26       2325
27       2054
28       2065
29       2358
        ...
321     61686
322     27980
323      6887
324     27940
325      3012
326      3453
327      5828
328      8392
329      5175
330     28179
331     10245
332      1862
333      4337
334     43777
335      1797
336      4574
337      1732
338     44821
339      2604
340     57559
341      3733
342      9141
343     10685
344       829
345      5931
346    199134
347     36643
348         0
349         0
350         0
Name: population, Length: 351, dtype: object

In [7]:
c = 0 
while c < len(cleandata.columns):
    r = 0
    while r < len(cleandata.iloc[:, c]):
        cleandata.iloc[r, c] = int(float(cleandata.iloc[r, c]))
        r+=1
    c+=1
    
print(cleandata['population'].dtype)
cleandata

c:\users\nekon\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
c:\users\nekon\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

int64

,population,violentcrime,murder,revisedrape,legacyrape,robbery,aggravatedassault,propertycrime,burglary,larcency,autotheft,arson
0,1861,0,0,0,0,0,0,12,2,10,0,0
1,2577,3,0,0,0,0,3,24,3,20,1,0
2,2846,3,0,0,0,0,3,16,1,15,0,0
3,97956,791,8,0,30,227,526,4090,705,3243,142,0
4,6388,23,0,0,3,4,16,223,53,165,5,0
5,4089,5,0,0,0,3,2,46,10,36,0,0
6,1781,3,0,0,0,0,3,10,0,10,0,0
7,118296,107,1,0,7,31,68,2118,204,1882,32,3
8,9519,9,0,0,2,4,3,210,16,188,6,1
9,18182,30,0,0,0,12,18,405,99,291,15,0
10,2053,0,0,0,0,0,0,39,3,35,1,0
11,4523,5,0,0,0,3,2,33,4,28,1,0
12,658,0,0,0,0,0,0,2,0,2,0,0
13,2522,2,0,0,0,0,2,5,0,4,1,0
14,27270,96,1,0,20,22,53,859,132,721,6,0
15,3333,1,0,0,0,1,0,25,3,20,2,0
16,7473,5,0,0,0,1,4,88,10,77,1,0
17,5418,8,0,0,0,3,5,94,16,78,0,1
18,15374,57,0,0,7,13,37,559,103,454,2,0
19,5733,15,0,0,1,3,11,191,32,157,2,2
20,17627,5,0,0,0,1,4,156,26,127,3,0
21,34243,13,0,0,0,3,10,442,50,388,4,0
22,46304,284,3,0,19,101,161,2349,525,1767,57,0
23,1410,0,0,0,0,0,0,14,2,12,0,0
24,12001,8,0,0,1,0,7,99,20,72,7,0
25,1022,1,0,0,0,0,1,4,2,2,0,0
26,2325,2,0,0,0,0,2,24,4,20,0,0
27,2054,1,0,0,0,0,1,20,6,14,0,0
28,2065,4,0,0,0,1,3,31,9,20,2,0
29,2358,0,0,0,0,0,0,13,3,10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
321,61686,361,7,0,27,102,225,2528,449,1997,82,0
322,27980,16,0,0,2,6,8,571,39,523,9,0
323,6887,18,1,0,2,1,14,142,13,124,5,0
324,27940,40,0,0,3,16,21,767,91,650,26,1
325,3012,6,0,0,1,0,5,68,18,50,0,0
326,3453,6,0,0,1,0,5,78,5,73,0,0
327,5828,2,0,0,0,1,1,58,5,51,2,0
328,8392,4,0,0,0,0,4,59,6,52,1,0
329,5175,11,0,0,0,3,8,194,23,169,2,0
330,28179,109,0,0,12,16,81,1165,169,953,43,0
331,10245,26,1,0,3,11,11,242,58,163,21,0
332,1862,6,0,0,0,0,6,92,10,80,2,0
333,4337,5,0,0,0,1,4,54,9,41,4,0
334,43777,21,0,0,2,3,16,469,101,361,7,0
335,1797,0,0,0,0,0,0,25,5,20,0,0
336,4574,11,0,0,1,0,10,164,32,129,3,1
337,1732,2,0,0,0,0,2,44,4,37,3,0
338,44821,35,1,0,1,9,24,896,166,710,20,0
339,2604,6,0,0,0,0,6,62,12,49,1,0
340,57559,78,1,0,3,28,46,1232,77,1134,21,0
341,3733,4,0,0,0,0,4,36,14,21,1,0
342,9141,0,0,0,0,0,0,77,13,61,3,0
343,10685,3,0,0,0,2,1,541,9,529,3,0
344,829,7,0,0,0,0,7,17,8,9,0,0
345,5931,2,0,0,0,0,2,58,13,45,0,0
346,199134,1036,6,0,25,390,615,2368,470,1662,236,10
347,36643,15,0,0,0,2,13,334,45,287,2,0
348,0,0,0,0,0,0,0,0,0,0,0,0
349,0,0,0,0,0,0,0,0,0,0,0,0
350,0,0,0,0,0,0,0,0,0,0,0,0

In [8]:
filleddata.iloc[:, 1:] = cleandata

In [9]:
filleddata['popsquared'] = filleddata['population']**2
print(filleddata.head())

                       city population violentcrime murder revisedrape  \
0             Adams Village       1861            0      0           0
1  Addison Town and Village       2577            3      0           0
2             Akron Village       2846            3      0           0
3                    Albany      97956          791      8           0
4            Albion Village       6388           23      0           0

  legacyrape robbery aggravatedassault propertycrime burglary larcency  \
0          0       0                 0            12        2       10
1          0       0                 3            24        3       20
2          0       0                 3            16        1       15
3         30     227               526          4090      705     3243
4          3       4                16           223       53      165

  autotheft arson  popsquared
0         0     0     3463321
1         1     0     6640929
2         0     0     8099716
3       142     0  9595377936
4         5     0    40806544

In [10]:
murderbools = []
robberybools = []
for val in filleddata['murder']:
    murderbools.append(val > 0)
for val in filleddata['robbery']:
    robberybools.append(val > 0)
filleddata['murderbool'] = murderbools 
filleddata['robberybool'] = robberybools
print(filleddata.head())

                       city population violentcrime murder revisedrape  \
0             Adams Village       1861            0      0           0
1  Addison Town and Village       2577            3      0           0
2             Akron Village       2846            3      0           0
3                    Albany      97956          791      8           0
4            Albion Village       6388           23      0           0

  legacyrape robbery aggravatedassault propertycrime burglary larcency  \
0          0       0                 0            12        2       10
1          0       0                 3            24        3       20
2          0       0                 3            16        1       15
3         30     227               526          4090      705     3243
4          3       4                16           223       53      165

  autotheft arson  popsquared  murderbool  robberybool
0         0     0     3463321       False        False
1         1     0     6640929       False        False
2         0     0     8099716       False        False
3       142     0  9595377936        True         True
4         5     0    40806544       False         True