In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import sys 
print(sys.executable)
print(sys.version)
print(sys.version_info)

c:\program files\python36\python.exe
3.6.5 (v3.6.5:f59c0932b4, Mar 28 2018, 17:00:18) [MSC v.1900 64 bit (AMD64)]
sys.version_info(major=3, minor=6, micro=5, releaselevel='final', serial=0)

In [3]:
y2015 = pd.read_csv('../datasets/loanstats3d/loanstats3d.csv', sep=',', skipinitialspace=True, header=1)

c:\program files\python36\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
print(y2015.shape)
y2015.head()

(421097, 111)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68009401,72868139.0,16000.0,16000.0,16000.0,60 months,14.85%,379.39,C,C5,...,0.0,2.0,78.9,0.0,0.0,2.0,298100.0,31329.0,281300.0,13400.0
1,68354783,73244544.0,9600.0,9600.0,9600.0,36 months,7.49%,298.58,A,A4,...,0.0,2.0,100.0,66.7,0.0,0.0,88635.0,55387.0,12500.0,75635.0
2,68466916,73356753.0,25000.0,25000.0,25000.0,36 months,7.49%,777.55,A,A4,...,0.0,0.0,100.0,20.0,0.0,0.0,373572.0,68056.0,38400.0,82117.0
3,68466961,73356799.0,28000.0,28000.0,28000.0,36 months,6.49%,858.05,A,A2,...,0.0,0.0,91.7,22.2,0.0,0.0,304003.0,74920.0,41500.0,42503.0
4,68495092,73384866.0,8650.0,8650.0,8650.0,36 months,19.89%,320.99,E,E3,...,0.0,12.0,100.0,50.0,1.0,0.0,38998.0,18926.0,2750.0,18248.0

In [5]:
'''from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)

cross_val_score(rfc, X, Y, cv=5)'''

"from sklearn import ensemble\nfrom sklearn.model_selection import cross_val_score\n\nrfc = ensemble.RandomForestClassifier()\nX = y2015.drop('loan_status', 1)\nY = y2015['loan_status']\nX = pd.get_dummies(X)\n\ncross_val_score(rfc, X, Y, cv=5)"

In [6]:
y2015.select_dtypes(include=['object'])

,id,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,...,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint
0,68009401,60 months,14.85%,C,C5,Bookkeeper/Accounting,10+ years,MORTGAGE,Not Verified,Dec-2015,...,297xx,SC,Jun-1991,29.6%,w,Jan-2017,Jan-2017,Jan-2017,INDIVIDUAL,NaN
1,68354783,36 months,7.49%,A,A4,tech,8 years,MORTGAGE,Not Verified,Dec-2015,...,299xx,SC,Jun-1996,59.4%,w,Jan-2017,Jan-2017,Jan-2017,INDIVIDUAL,NaN
2,68466916,36 months,7.49%,A,A4,Sales Manager,10+ years,MORTGAGE,Not Verified,Dec-2015,...,226xx,VA,Dec-2001,54.3%,w,Sep-2016,NaN,Jan-2017,INDIVIDUAL,NaN
3,68466961,36 months,6.49%,A,A2,Senior Manager,10+ years,MORTGAGE,Not Verified,Dec-2015,...,275xx,NC,May-1984,64.5%,w,Jan-2017,Jan-2017,Jan-2017,INDIVIDUAL,NaN
4,68495092,36 months,19.89%,E,E3,Program Coordinator,8 years,RENT,Verified,Dec-2015,...,462xx,IN,Mar-2005,46%,w,May-2016,NaN,Jun-2016,INDIVIDUAL,NaN
5,68506798,60 months,8.49%,B,B1,Teacher,5 years,RENT,Not Verified,Dec-2015,...,117xx,NY,Sep-2001,52.7%,w,Jan-2017,Jan-2017,Jan-2017,INDIVIDUAL,NaN
6,68566886,60 months,12.88%,C,C2,Corporate Insurance,10+ years,MORTGAGE,Verified,Dec-2015,...,219xx,MD,May-2004,46.7%,w,Jan-2017,Feb-2017,Jan-2017,INDIVIDUAL,NaN
7,68577849,60 months,11.99%,C,C1,GS-11,10+ years,MORTGAGE,Not Verified,Dec-2015,...,856xx,AZ,Nov-1993,15.5%,w,Mar-2016,NaN,Jan-2017,INDIVIDUAL,NaN
8,66310712,60 months,14.85%,C,C5,Information Systems Officer,10+ years,MORTGAGE,Source Verified,Dec-2015,...,076xx,NJ,Sep-2008,11.6%,w,Jan-2017,Jan-2017,Jan-2017,INDIVIDUAL,NaN
9,68476807,60 months,22.45%,F,F1,Contract Specialist,3 years,MORTGAGE,Source Verified,Dec-2015,...,174xx,PA,Jun-1998,64.5%,w,Jul-2016,NaN,Jan-2017,INDIVIDUAL,NaN
10,68341763,60 months,10.78%,B,B4,truck driver,10+ years,MORTGAGE,Not Verified,Dec-2015,...,605xx,IL,Aug-2000,56.2%,w,Jan-2017,Jan-2017,Jan-2017,JOINT,Not Verified
11,68356421,60 months,12.88%,C,C2,Executive Director,6 years,MORTGAGE,Not Verified,Dec-2015,...,290xx,SC,Apr-1995,32.7%,w,Jan-2017,Jan-2017,Jan-2017,INDIVIDUAL,NaN
12,68426545,60 months,12.88%,C,C2,Senior Structural Designer,1 year,MORTGAGE,Not Verified,Dec-2015,...,786xx,TX,Feb-1988,56.3%,w,Jan-2017,Jan-2017,Jan-2017,INDIVIDUAL,NaN
13,68407277,36 months,13.99%,C,C4,leadman,10+ years,MORTGAGE,Not Verified,Dec-2015,...,190xx,PA,Aug-2003,29.7%,w,Jan-2017,Jan-2017,Jan-2017,INDIVIDUAL,NaN
14,68355089,36 months,11.99%,C,C1,Engineer,10+ years,MORTGAGE,Not Verified,Dec-2015,...,577xx,SD,Dec-1999,19.2%,w,Jun-2016,NaN,May-2016,INDIVIDUAL,NaN
15,68466926,36 months,6.49%,A,A2,SERVICE MANAGER,6 years,RENT,Not Verified,Dec-2015,...,160xx,PA,Apr-2002,34.5%,w,Jan-2017,Jan-2017,Jan-2017,INDIVIDUAL,NaN
16,68338832,36 months,12.88%,C,C2,Logistics Manager,3 years,MORTGAGE,Not Verified,Dec-2015,...,275xx,NC,Jun-1996,67.2%,w,Jan-2017,Jan-2017,Jan-2017,INDIVIDUAL,NaN
17,68426831,36 months,13.44%,C,C3,Veterinary Tecnician,4 years,RENT,Source Verified,Dec-2015,...,300xx,GA,Oct-1987,68.4%,w,Jan-2017,Jan-2017,Jan-2017,INDIVIDUAL,NaN
18,66624733,60 months,19.48%,E,E2,Software Manager,7 years,RENT,Not Verified,Dec-2015,...,916xx,CA,Jun-2005,40.7%,w,Jan-2017,Feb-2017,Jan-2017,INDIVIDUAL,NaN
19,68616873,36 months,11.48%,B,B5,Vendor liaison,10+ years,MORTGAGE,Not Verified,Dec-2015,...,029xx,RI,Nov-1994,39.1%,w,Jan-2017,Jan-2017,Jan-2017,INDIVIDUAL,NaN
20,67275481,36 months,8.49%,B,B1,road driver,10+ years,MORTGAGE,Not Verified,Dec-2015,...,293xx,SC,Feb-1999,5.7%,w,Jan-2017,Jan-2017,Jan-2017,INDIVIDUAL,NaN
21,68476668,36 months,9.17%,B,B2,Vice President of Recruiting Operations,10+ years,MORTGAGE,Not Verified,Dec-2015,...,550xx,MN,Jun-1990,84.5%,f,Nov-2016,NaN,Nov-2016,INDIVIDUAL,NaN
22,68476702,36 months,13.44%,C,C3,Director of Product Development,2 years,OWN,Source Verified,Dec-2015,...,100xx,NY,May-2000,63.1%,w,Jan-2017,Jan-2017,Jan-2017,INDIVIDUAL,NaN
23,68436666,36 months,13.44%,C,C3,General Manager,2 years,RENT,Verified,Dec-2015,...,214xx,MD,Oct-2011,101.5%,w,Jan-2017,Feb-2017,Jan-2017,INDIVIDUAL,NaN
24,68596180,36 months,5.32%,A,A1,driver,9 years,OWN,Not Verified,Dec-2015,...,125xx,NY,May-1991,3%,w,Jan-2017,Jan-2017,Jan-2017,INDIVIDUAL,NaN
25,67849662,36 months,14.85%,C,C5,mechanic,5 years,RENT,Source Verified,Dec-2015,...,672xx,KS,Jul-2011,24.6%,w,Jan-2017,Feb-2017,Jan-2017,INDIVIDUAL,NaN
26,68526883,36 months,5.32%,A,A1,DEPUTY SHERIFF,10+ years,MORTGAGE,Source Verified,Dec-2015,...,238xx,VA,Jun-2002,50.3%,w,Jan-2017,Jan-2017,Jan-2017,INDIVIDUAL,NaN
27,68607141,36 months,5.32%,A,A1,Network Security Specialist III,< 1 year,MORTGAGE,Source Verified,Dec-2015,...,672xx,KS,May-2001,34.4%,w,Nov-2016,NaN,Nov-2016,INDIVIDUAL,NaN
28,68476715,36 months,7.49%,A,A4,Analyst,10+ years,MORTGAGE,Not Verified,Dec-2015,...,750xx,TX,May-1994,72%,w,Jan-2017,Jan-2017,Jan-2017,INDIVIDUAL,NaN
29,67715283,36 months,12.88%,C,C2,"Owner, Fee Appraiser",10+ years,MORTGAGE,Not Verified,Dec-2015,...,354xx,AL,Dec-1985,54.3%,w,Jan-2017,Feb-2017,Jan-2017,INDIVIDUAL,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421067,36691397,36 months,6.99%,A,A3,Mission info Tech,2 years,MORTGAGE,Source Verified,Jan-2015,...,325xx,FL,Mar-1998,53.1%,f,Jan-2017,Feb-2017,Jan-2017,INDIVIDUAL,NaN
421068,36743377,36 months,15.99%,D,D2,supervisor,10+ years,MORTGAGE,Verified,Jan-2015,...,810xx,CO,Aug-1990,63.4%,f,Aug-2015,NaN,Jan-2017,INDIVIDUAL,NaN
421069,36331554,36 months,8.19%,A,A5,NaN,NaN,RENT,Verified,Jan-2015,...,840xx,UT,Jun-1993,24.9%,f,Dec-2016,NaN,Dec-2016,INDIVIDUAL,NaN
421070,36460697,60 months,15.59%,D,D1,Assistant Maint Manager,10+ years,MORTGAGE,Source Verified,Jan-2015,...,597xx,MT,Dec-1994,63.3%,w,Jan-2017,Feb-2017,Jan-2017,INDIVIDUAL,NaN
421071,35773415,60 months,17.86%,D,D5,Field Supervisor,10+ years,RENT,Source Verified,Jan-2015,...,412xx,KY,Jul-2002,75.6%,w,Apr-2016,NaN,Jan-2017,INDIVIDUAL,NaN
421072,36250801,36 months,17.86%,D,D5,Operator,10+ years,MORTGAGE,Verified,Jan-2015,...,308xx,GA,Jun-2001,78.9%,f,Jan-2017,Feb-2017,Jan-2017,INDIVIDUAL,NaN
421073,36371802,60 months,11.44%,B,B4,VP of Operations,4 years,RENT,Source Verified,Jan-2015,...,339xx,FL,Jan-1989,56.9%,w,Jan-2017,Feb-2017,Jan-2017,INDIVIDUAL,NaN
421074,36440728,60 months,15.99%,D,D2,Owner,3 years,RENT,Source Verified,Jan-2015,...,282xx,NC,May-2003,92.4%,w,Oct-2016,Feb-2017,Jan-2017,INDIVIDUAL,NaN
421075,36361815,60 months,8.67%,B,B1,Business Manager,10+ years,MORTGAGE,Verified,Jan-2015,...,138xx,NY,Aug-1983,65.1%,w,Jan-2017,Feb-2017,Jan-2017,INDIVIDUAL,NaN
421076,35591131,60 months,15.59%,D,D1,NaN,NaN,OWN,Not Verified,Jan-2015,...,550xx,MN,May-2003,56.8%,f,Apr-2016,NaN,Jan-2017,INDIVIDUAL,NaN
421077,36201871,36 months,6.03%,A,A1,Director,10+ years,MORTGAGE,Source Verified,Jan-2015,...,021xx,MA,Oct-1994,30.6%,f,Jan-2017,Feb-2017,Jan-2017,INDIVIDUAL,NaN
421078,36381756,36 months,8.19%,A,A5,Sr. Tech,9 years,MORTGAGE,Source Verified,Jan-2015,...,871xx,NM,Sep-2003,63.2%,f,Jan-2017,Feb-2017,Jan-2017,INDIVIDUAL,NaN
421079,36231724,36 months,9.49%,B,B2,Bartender,4 years,RENT,Source Verified,Jan-2015,...,891xx,NV,Oct-2006,73.4%,f,Apr-2016,NaN,Oct-2016,INDIVIDUAL,NaN
421080,36301729,36 months,6.49%,A,A2,Area Director,1 year,RENT,Verified,Jan-2015,...,333xx,FL,Mar-2000,34.7%,w,Jan-2017,Feb-2017,Jan-2017,INDIVIDUAL,NaN
421081,36250208,60 months,14.99%,C,C5,Team Leader,8 years,MORTGAGE,Verified,Jan-2015,...,286xx,NC,May-1994,3.2%,w,Jun-2016,NaN,Mar-2015,INDIVIDUAL,NaN
421082,36241316,36 months,16.49%,D,D3,Painter,2 years,RENT,Source Verified,Jan-2015,...,330xx,FL,Feb-2011,97.6%,f,Dec-2015,NaN,Dec-2015,INDIVIDUAL,NaN
421083,36231718,36 months,6.03%,A,A1,Coordinator of RSVP,< 1 year,RENT,Not Verified,Jan-2015,...,325xx,FL,Nov-1975,25.8%,w,Jul-2015,NaN,Jun-2015,INDIVIDUAL,NaN
421084,36381704,36 months,14.31%,C,C4,machining Cell Lead,10+ years,RENT,Verified,Jan-2015,...,471xx,IN,Nov-2006,27.1%,w,Jan-2017,Feb-2017,Jan-2017,INDIVIDUAL,NaN
421085,36421485,36 months,8.67%,B,B1,Lead Custodian,10+ years,MORTGAGE,Verified,Jan-2015,...,956xx,CA,Sep-2002,5.6%,f,Jun-2015,NaN,Oct-2016,INDIVIDUAL,NaN
421086,35094480,36 months,9.49%,B,B2,Owner,8 years,RENT,Verified,Jan-2015,...,531xx,WI,Aug-1994,43.9%,f,Jan-2017,Feb-2017,Jan-2017,INDIVIDUAL,NaN
421087,36260758,36 months,19.24%,E,E2,NaN,NaN,OWN,Verified,Jan-2015,...,430xx,OH,Jun-2002,41.6%,f,Aug-2015,NaN,Oct-2016,INDIVIDUAL,NaN
421088,36221446,36 months,15.59%,D,D1,Manager,10+ years,RENT,Verified,Jan-2015,...,791xx,TX,Jul-1999,65%,f,Sep-2016,NaN,Nov-2016,INDIVIDUAL,NaN
421089,36330911,36 months,11.99%,B,B5,KYC Business Analyst,< 1 year,MORTGAGE,Verified,Jan-2015,...,432xx,OH,Jun-1995,69.7%,f,Feb-2016,NaN,Jan-2017,INDIVIDUAL,NaN
421090,36371250,36 months,11.99%,B,B5,Office Assistant,8 years,RENT,Verified,Jan-2015,...,905xx,CA,Sep-2004,82.1%,f,Jan-2017,Feb-2017,Jan-2017,INDIVIDUAL,NaN
421091,36441262,36 months,11.99%,B,B5,Director of Maintenance,10+ years,MORTGAGE,Verified,Jan-2015,...,072xx,NJ,Mar-1974,84.5%,f,Jan-2017,Feb-2017,Jan-2017,INDIVIDUAL,NaN
421092,36271333,60 months,15.99%,D,D2,Radiologist Technologist,5 years,RENT,Verified,Jan-2015,...,378xx,TN,Sep-2003,61.3%,w,May-2016,NaN,Dec-2016,INDIVIDUAL,NaN
421093,36490806,60 months,19.99%,E,E3,Painter,1 year,RENT,Source Verified,Jan-2015,...,010xx,MA,Oct-2003,30.6%,w,Jan-2016,NaN,Oct-2016,INDIVIDUAL,NaN
421094,36271262,36 months,11.99%,B,B5,Manager Hotel Operations Oasis,10+ years,RENT,Verified,Jan-2015,...,331xx,FL,Dec-2001,79.8%,f,Jan-2017,Feb-2017,Jan-2017,INDIVIDUAL,NaN
421095,Total amount funded in policy code 1: 6417608175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421096,Total amount funded in policy code 2: 1944088810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
categorical = y2015.select_dtypes(include=['object'])
continuous = y2015.select_dtypes(include=['int','float'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

id
421097
term
2
int_rate
110
grade
7
sub_grade
35
emp_title
120812
emp_length
11
home_ownership
4
verification_status
3
issue_d
12
loan_status
7
pymnt_plan
1
url
421095
desc
34
purpose
14
title
27
zip_code
914
addr_state
49
earliest_cr_line
668
revol_util
1211
initial_list_status
2
last_pymnt_d
25
next_pymnt_d
4
last_credit_pull_d
26
application_type
2
verification_status_joint
3

In [8]:
# Convert ID and Interest Rate to numeric.
y2015['id'] = pd.to_numeric(y2015['id'], errors='coerce')
y2015['int_rate'] = pd.to_numeric(y2015['int_rate'].str.strip('%'), errors='coerce')

In [9]:
# Drop other columns with many unique variables
y2015.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util', 
            'sub_grade', 'addr_state', 'desc'], 1, inplace=True)

In [10]:
y2015.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
421092,36271333.0,38982739.0,13000.0,13000.0,13000.0,60 months,15.99,316.07,D,5 years,...,0.0,3.0,100.0,50.0,1.0,0.0,51239.0,34178.0,10600.0,33239.0
421093,36490806.0,39222577.0,12000.0,12000.0,12000.0,60 months,19.99,317.86,E,1 year,...,1.0,2.0,95.0,66.7,0.0,0.0,96919.0,58418.0,9700.0,69919.0
421094,36271262.0,38982659.0,20000.0,20000.0,20000.0,36 months,11.99,664.20,B,10+ years,...,0.0,1.0,100.0,50.0,0.0,1.0,43740.0,33307.0,41700.0,0.0
421095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
y2015 = y2015[:-2][:]

In [12]:
y2015.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
421090,36371250.0,39102635.0,10000.0,10000.0,10000.0,36 months,11.99,332.10,B,8 years,...,0.0,1.0,100.0,100.0,0.0,0.0,32950.0,25274.0,9200.0,15850.0
421091,36441262.0,39152692.0,24000.0,24000.0,24000.0,36 months,11.99,797.03,B,10+ years,...,0.0,2.0,56.5,100.0,0.0,0.0,152650.0,8621.0,9000.0,0.0
421092,36271333.0,38982739.0,13000.0,13000.0,13000.0,60 months,15.99,316.07,D,5 years,...,0.0,3.0,100.0,50.0,1.0,0.0,51239.0,34178.0,10600.0,33239.0
421093,36490806.0,39222577.0,12000.0,12000.0,12000.0,60 months,19.99,317.86,E,1 year,...,1.0,2.0,95.0,66.7,0.0,0.0,96919.0,58418.0,9700.0,69919.0
421094,36271262.0,38982659.0,20000.0,20000.0,20000.0,36 months,11.99,664.20,B,10+ years,...,0.0,1.0,100.0,50.0,0.0,1.0,43740.0,33307.0,41700.0,0.0

In [13]:
dummies = pd.get_dummies(y2015.drop('loan_status', 1))

In [14]:
corrs = dummies.corr().abs()
#iterate over one of the triangles (upper or lower) by label and drop one of whichever variable has a high correlation
#doesn't matter which one
#select one of the triangles
print(dummies.shape)
triupper = corrs.where(np.triu(np.ones(corrs.shape), k=1).astype(np.bool))

highly_corred_vars = [col for col in triupper.columns if any(triupper[col] > 0.90)]

dummies = dummies.drop(highly_corred_vars, axis=1)

print(dummies.shape)

(421095, 230)
(421095, 201)

In [15]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
#X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = dummies
X = X.dropna(axis=1)

In [16]:
print(cross_val_score(rfc, X, Y, cv=10))
print(np.mean(cross_val_score(rfc, X, Y, cv=10)))

[0.97758305 0.97644321 0.9794353  0.979839   0.96245547 0.97413916
 0.94941699 0.97853191 0.97834089 0.97812663]
0.9759697883513041

In [17]:
rfc.fit(X, Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [18]:
features = list(zip(X, rfc.feature_importances_))
features.sort(key=lambda x: x[1])

In [36]:
from sklearn.feature_selection import SelectKBest

print(X.shape)
kselector = SelectKBest(k=10)
X_best = kselector.fit_transform(X, Y)

(421095, 172)

c:\program files\python36\lib\site-packages\sklearn\feature_selection\univariate_selection.py:113: UserWarning: Features [18 83] are constant.
  UserWarning)
c:\program files\python36\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

[[1.366888e+04 4.519680e+03 0.000000e+00 ... 0.000000e+00 1.000000e+00
  0.000000e+00]
 [6.635690e+03 3.572970e+03 0.000000e+00 ... 0.000000e+00 1.000000e+00
  0.000000e+00]
 [0.000000e+00 2.622423e+04 0.000000e+00 ... 0.000000e+00 1.000000e+00
  0.000000e+00]
 ...
 [0.000000e+00 5.034020e+03 0.000000e+00 ... 0.000000e+00 0.000000e+00
  0.000000e+00]
 [0.000000e+00 5.366990e+03 1.579320e+03 ... 0.000000e+00 0.000000e+00
  1.000000e+00]
 [7.475670e+03 1.596605e+04 0.000000e+00 ... 1.000000e+00 1.000000e+00
  0.000000e+00]]

In [37]:
print(X_best.shape)
scores = cross_val_score(rfc, X_best, Y, cv=10)
print(scores)
print(np.mean(scores))

(421095, 10)
[0.94037187 0.94414761 0.95877562 0.96252761 0.93813821 0.95656614
 0.95468902 0.9628583  0.9600304  0.96694058]
0.9545045347378803

In [38]:
X.columns[kselector.get_support()]w

Index(['out_prncp', 'total_pymnt', 'recoveries', 'last_pymnt_amnt',
       'last_pymnt_d_Jan-2017', 'last_pymnt_d_Nov-2016',
       'last_pymnt_d_Oct-2016', 'next_pymnt_d_Feb-2017',
       'last_credit_pull_d_Jan-2017', 'last_credit_pull_d_Oct-2016'],
      dtype='object')

In answer to the last question, I don't believe so. The payment info-related and  outstanding principle-related observations seem to be the best features to predict the loan status.